h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 42px;
}

.recipes {
    background-color: beige;
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

li {
    font-size: 23px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    color: rgb(174, 101, 11);
  }