* {
    font-family: Helvetica, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

li {
    list-style-type: none;
}

.recipe-card {
    text-align: center;
    background-color: beige;
    padding: 24px;
    margin: 32px;
    border-radius: 24px;
}

.recipe-card-title {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.recipe-image {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 24px;
    border-radius: 24px;
}